
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #39364A;
  --focus: #FF4E4D;
  --break: #05EC8C;
}

.App {
  height: 100vh;
  text-align: center;
  background: var(--bg-color);
  color: white;
  font-family: 'Roboto Mono', monospace;
 font-weight: 400;
}

.timer {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings {
  display: flex;
  width: 100%;
  justify-content: center;
}

 .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  width: 250px;
  height: 250px;
}

h1 {
  font-size: 4em;
}

.prompt {
  height: 1rem;
  position: relative;
  top: -1rem;
}

.focus {
  color: var(--focus);
  border-color: var(--focus);
 }

.chill {
  color: var(--break);
  border-color: var(--break);
 }

