
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: rgb(45, 38, 82);
  --focus: #FF4E4D;
  --break: #05EC8C;
}

body {
  background: var(--bg-color);
}

.App {
  padding-top: 10vh;
  height: 80vh;
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.timer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  width: 250px;
  height: 250px;
  margin-bottom: 1em;
}

h1 {
  font-size: 4em;
  font-weight: 300;
}

.prompt {
  height: 1rem;
  position: relative;
  top: -1rem;
}

.focus {
  color: var(--focus);
  border-color: var(--focus);
 }

.chill {
  color: var(--break);
  border-color: var(--break);
 }

 .settings {
  display: flex;
  width: 100%;
  justify-content: center;
}

.labels {
  padding: 5px;
}

