.play {
    position: relative;
    top: 1rem;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 2em;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 1em 0 1em 1.5em;
  }
  
        .paused {
        border-style: double;
        border-width: 0px 0 0px 1.5em;
        }
    
        .play-focus {
        color: var(--focus);
        border-color: transparent transparent transparent var(--focus);
        }
        
        .play-chill {
        color: var(--break);
        border-color: transparent transparent transparent var(--break);
        }


button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    display:inline-block;
    border-radius: 50%;
    border: 2px solid white;
    height: 3em;
    width: 3em;
    background: none;
    color: white;
    margin: 0.5em;
    cursor: pointer;

    }

button:focus {
    outline: none;
    }    

/* button:hover {
   color: #201d2d;
   border-color: #201d2d; 
        }  */
